ul{
   
    list-style-image: url(img/check.jpg);
list-style-position: inside;

}

#check{
    height: 1cm;
 width: 1cm;
}

#menu{
    width: 1px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    background: #f4f4f4;
    border-top: 1px solid #fff;

}
    
ul menu li a{
    color: #333;
    border: 1px solid #7c7c7c;
    display: block;
    border-bottom: none;
    text-decoration: none;
    padding: 2em 0 2em.5em;
}
