body{
    background-color: red
}

h1, h2
         {

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
}



p{
    font-family: 'Courier New', Courier, monospace;
    color:white
}
